/* @font-face {
    font-family: NAME;
    src: url(fonts/fontNAME) format("truetype or woff2"); 
}   */
@font-face {
    font-family: MagicSparkle;
    src: url(../fonts/Magic-Sparkle.ttf) format("truetype");

}

@font-face {
    font-family: Wanters;
    src: url(../fonts/The-Wanters-DEMO.ttf) format("truetype");
}

@font-face {
    font-family: BebasNeueReg;
    src: url(../fonts/BebasNeue-Regular.ttf) format("truetype");
}

@font-face {
    font-family: RobotoReg;
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: WoodPrintReg;
    src: url(../fonts/WoodPrint-Regular.otf) format("truetype");
}

@font-face {
    font-family: OldSchool;
    src: url(../fonts/OLDSSCH_.TTF) format("truetype");
}

@font-face {
    font-family: LowerCases;
    src: url(../fonts/OLDSH___.TTF) format("truetype");
}

@font-face {
    font-family: OptiAntique;
    src: url(../fonts/OPTIAntique-Bold.otf) format("truetype");
}