/* @font-face {
    font-family: NAME;
    src: url(fonts/fontNAME) format("truetype or woff2"); 
}   */
@font-face {
    font-family: MagicSparkle;
    src: url(/platform-ticket-falkowski-marroquin-blajsa/fonts/Magic\ Sparkle.ttf) format("truetype");

}

@font-face {
    font-family: Wanters;
    src: url(/platform-ticket-falkowski-marroquin-blajsa/fonts/The\ Wanters\ DEMO.ttf) format("truetype");
}
