/* @font-face {
    font-family: NAME;
    src: url(fonts/fontNAME) format("truetype or woff2"); 
}   */
@font-face {
    font-family: MagicSparkle;
    src: url(../fonts/Magic-Sparkle.ttf) format("truetype");

}

@font-face {
    font-family: Wanters;
    src: url(../fonts/The-Wanters-DEMO.ttf) format("truetype");
}

@font-face {
    font-family: BebasNeueReg;
    src: url(../fonts/BebasNeue-Regular.ttf) format("truetype");
}

@font-face {
    font-family: RobotoReg;
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: HighSchool;
    src: url(../fonts/High-School.ttf) format("truetype");
}