body {
  background: #f2f2f2;
  font-family: 'Questrial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

/* 
  https://www.transparenttextures.com/textured-paper.html
  https://onlinepngtools.com/change-png-color
  https://stackoverflow.com/questions/14585101/old-paper-background-texture-with-just-css

  https://www.download-free-fonts.com/details/113244/golden-type-itc-std
*/

main {
  width: 740px;
  background-color: #faa272;
  background-color: #fa8c32;
  background-color: #fa7305;
  background-image: url('./textured-paper.png');
  border-radius: 0.2rem;
  box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.571), 0 0 60px #cd7013 inset;
}

.ticket-body div {
  padding: 0.4rem;
}

p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 240px;
  grid-template-rows: 1fr;
}

/*.ticket-body {
   background-color: ivory; 
}*/

/* .parent {
  display: grid;
  grid-template-rows: 8fr 1fr 4fr 8fr 4fr;
} */

p.div1font {
  font-size: 2.2rem;
  padding-top: .2rem;
  word-spacing: -0.5rem;
  font-family: Wanters;
}

p.div2font {
  font-weight: bold;
  font-size: 1em;
  font-family: OldSchool;
}

p.div3font {
  font-weight: bold;
  font-size: 1.1em;
  word-spacing: 1rem;
}

p.div4font1 {
  font-weight: 600;
  font-family: RobotoReg;
}

p.div4font2 {
  font-size: 2.5rem;
  font-family: WoodPrintReg;
}

p.div5font {
  font-size: 1.8rem;
}

p.div8font {
  font-size: 1.3rem;
  font-family: OptiAntique;
}

.div1{
  border: 2px solid black;
}
.div2 {
  border-bottom: 2px solid black;
}

/* small caps */
.small-caps {
  font-variant: small-caps;
}

.lower-cases {
  font-family: lowerCases;
}

/*    stub */

.stub {
  display: grid;
  width: 100%;
  writing-mode: vertical-rl;
  padding: .4rem;
}

.div6 {
  order: 5;
}

.div7 {
  order: 4;
}

.div8 {
  order: 3;
  border-right: 2px solid black;
}

.div9 {
  order: 2;
}

.div10 {
  order: 1;
  width: 32px;
  outline: none;
}
