body {
  background: #f2f2f2;
  font-family: 'Questrial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

/* 
  https://www.transparenttextures.com/textured-paper.html
  https://onlinepngtools.com/change-png-color
  https://stackoverflow.com/questions/14585101/old-paper-background-texture-with-just-css

  https://www.download-free-fonts.com/details/113244/golden-type-itc-std
*/

/* styling for main structure of the ticket */

main {
  width: 740px;
  background-color: #faa272;
  background-color: #fa8c32;
  background-color: #fa7305;
  background-image: url('./textured-paper.png');
  border-radius: 0.2rem;
  box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.571), 0 0 60px #cd7013 inset;
}

.ticket-body div {
  padding: 0.2rem;
}

p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 240px;
  grid-template-rows: 1fr;
}

/*.ticket-body {
   background-color: ivory; 
}*/

/* .parent {
  display: grid;
  grid-template-rows: 8fr 1fr 4fr 8fr 4fr;
} */

/* styling for individual fonts, use padding and transform for final adjustments*/

p.div1font {
  font-size: 2.4rem;
  padding-top: .5rem;
  padding-bottom: .2rem;
  word-spacing: .75rem;
  font-family: Wanters;
  transform:scaleY(1.5);
}

p.div2font {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: OldSchool;
  padding-bottom: .2rem;
}

p.div3font {
  font-weight: bold;
  font-size: 1.6em;
  word-spacing: .5rem;
  letter-spacing: .1rem;
  transform:scaleY(1.2);
}

p.div4font1 {
  font-weight: 600;
  font-size: 1.3rem;
  font-family: RobotoMed;
  word-spacing: 1rem;
  letter-spacing: .25rem;
}

p.div4font2 {
  font-size: 2.7rem;
  font-family: WoodPrintReg;
}

p.div5font {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: MagicSparkle;
  transform:scaleY(2);
  word-spacing: .5rem;
  padding-bottom: .95rem;
  padding-left: .5rem;
}

p.div6font {
  font-weight: bold;
  font-size: 13.5px;
  font-family: RobotoMed;
  word-spacing: .4rem;
  transform:scaleY(1.4);
  padding-right: .2rem;
}

p.div7font {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: bold;
  transform:scaleY(1.4);
  padding-right: .2rem;
}

p.div8font {
  font-size: 1.6rem;
  font-family: OptiAntique;
  padding-right: 5px;
  padding-left: 5px;
}

p.div9font1 {
  font-size: 2.4rem;
  font-weight: bold;
  font-family: MagicSparkle;
  word-spacing: 1.5rem;
  /*padding-right: .5rem;*/
  transform:scaleX(1.6);
}

p.div9font2 {
  font-size: 1.15rem;
  font-weight: bold;
  font-family: LibreBold;
  transform:scaleY(1.09);
  padding-right: 1rem;
}

/* styling for grid containers themselves, mainly for border and lower cases */

.div1{
  border: 2px solid black;
}

.div2 {
  border-bottom: 2px solid black;
}

.div3 {
  border-bottom: 2px solid black;
}

.div4 {
  border-bottom: 2px solid black;
}

.lower-cases {
  font-family: lowerCases;
}

/* styling for ticket stub portion of the ticket, the sideways part, including bordering */

.stub {
  display: grid;
  width: 92%;
  writing-mode: vertical-rl;
  padding: .4rem;
}

.div6 {
  order: 5;
  border-right: 2px solid black;
}

.div7 {
  order: 4;
  border-right: 2px solid black;
}

.div8 {
  order: 3;
  border-right: 2px solid black;
}

.div9 {
  order: 2;
  border-right: 2px solid black;
}
/* original width was 32px */
.div10 {
  order: 1;
  width: 32px;
  outline: none;
}
